* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3F424B;
}

header .logo {
    height: 150px;
}

.navegation ul {
    display: flex;
    gap: 190px;
    padding-right: 50px;
}

.navegation li a {
    font-weight: 500;
    font-size: 30px;
    color: #4FD194;
}



.button {
    padding: 8px 15px;
    border: 2px solid #ddd;
    background: #ddd;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    text-shadow: 1px 1px 1px #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ccc;
    border-color: #999;
}



/* Estilo global da página */
body {
    font-family: 'Playfair Display', 'Inter', sans-serif;
    background-color:#85868B;
    text-align: center; /* Centraliza os elementos */
    color: black;
}

/* Estilo do título principal */
h1 {
    color: black;
    font-size: 28px;
}

.visitas{
    
    border-top: 2px solid #9c9ca4;
    padding-bottom: 5px;
    margin-top: 20px;
}
.passeio{
    
    border-top: 2px solid #9c9ca4;
    padding-bottom: 5px;
    margin-top: 20px;
}
.cuidados{
   
    border-top: 2px solid #9c9ca4;
    padding-bottom: 5px;
    margin-top: 20px;
}
.acompanhamento{
   
    border-top: 2px solid #9c9ca4;
    padding-bottom: 5px;
    margin-top: 20px;
}
/* Estilo das imagens */
img {
    width: 300px;
    border-radius: 10px; /* Deixa as bordas arredondadas */
    margin: 10px;
}

